body{
    background-color: #2d323b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "VT323";
    color: #5c32a6;
}
::selection{
    background-color: white;
    color: black;
}
div{
    background-color: #2d323b;
    border-color: #5c32a6;
    border-style: solid;
    border-width: 0.5px;
    margin: 0;
}
#main-frame{
    display: flex;
    width: 94vw;
    height: 94vh;
    justify-content: center;
    padding-right: 7px;


}
#credits{
    position: absolute;
    background-color: #2d323b;
    top: -1.2vh;
    font-size: 15.3px;
}
#support-frame{
    width: 20vw;
    height: 6vw;
    margin-left: auto;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#support{
    font-size: 15.3px;
    position: absolute;
    right: 18vw;
    top: 0.3vh;
    background-color: #2d323b;

}
.anonypos-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.anonypos-btn:hover{
    border-color: white;
    color: white;
}
#ko-fi{
    height: 4vh;
    width: 10vw;
    position: absolute;
    top: 7vh;
    right: 4vw;
}
#coffee-cat{
    width: 3vw;
    position: absolute;
    right: 14vw;
    top: 5.5vh;
}
#discord{
    position: absolute;
    right: 4vw;
    top: 12vh;
    width: 13vw;
    height: 4vh;
    font-size: 14px;
}